/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-my-custom-block {
    background: $green;
    border: 0.2rem solid $black;
    color: $black;
    margin: 0 auto;
    max-width: 740px;
    padding: 2rem;
}

#ace-editor {
    height: 60vh;
}

#wpadminbar {
    z-index: 99998;
}

#ace_settingsmenu {
    z-index: 99999;
}
